<div class="todo-container my-4 py-2 px-4">
    <div class="card-deck my-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Categories</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <a ng-href="/#!/categories" class="list-group-item">View all</a>
                <a ng-href="/#!/categories/new-category" class="list-group-item">Add new category</a>
            </ul>
            <div class="card-body pt-3">
                <label class="d-block">Choose category to delete</label>
                <select class="form-control form-control-sm col-sm-7 float-left" ng-options="category._id as category.title for category in categories track by category._id" ng-model="category._id">
                    <option value="">Choose category</option>
                </select>
                <button class="btn btn-sm btn-outline-danger ml-2" ng-hide="!category._id" ng-click="deleteCategory(category)">Delete</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Todo Lists</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <a ng-href="/#!/0/lists" class="list-group-item">View all todo lists</a>
                <a ng-href="/#!/lists/new-list" class="list-group-item">Add new todo list</a>
            </ul>
            <div class="card-body pt-3">
                <a href="/#!/archieve" class="text-muted" style="text-decoration: underline;">View archieve</a>
            </div>
        </div>
    </div>
</div>