<div class="d-flex item">
    <span ng-show="checkState" class="check check-animate"><i class="material-icons">done</i></span>
    <div ng-class="{'strike text-muted': checkState}" class="font-italic mr-2 item-text" ng-model="item.name" contenteditable>{{item.name}}</div>
    <button href="#" class="btn btn-danger remove-item p-0 mx-2 mt-2" ng-click="removeItem()"><i class="material-icons">clear</i></button>
    <div>
        <button class="btn btn-outline-secondary btn-sm" ng-click="changeState()">{{ checkState ? 'Uncheck' : 'Check'}}</button>
    </div>
</div>